<a href="https://colab.research.google.com/github/gjwldnjs77/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,3,1):
  print(i, "컴퓨터과 3학년 1반")

In [ ]:
for i in [0,1,2,3,4] :
  print(i, "컴퓨터과 3학년 1반")

In [ ]:
for i in ["봄","여름","가을","겨울"]:
  print(i, "컴퓨터과 3학년 1반")

In [ ]:
for i in range(1,11,1):
  print(i, "컴퓨터과")

In [ ]:
for i in range(2,6,1):
  print(i, end=" ")

In [ ]:
result = 1

for i in range(1,6,1):
  result = result * i
  
print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ",result)

In [ ]:
sum = 0

for i in range(1,11,1):
  sum = sum + i
print(sum)

In [ ]:
odd_sum = 0
for i in range(1001,2001,2):
  odd_sum = odd_sum + i
print(odd_sum)

In [ ]:
odd_sum = 0
for i in range(1000,2001,1):
  if i%2 ==1:
    odd_sum = odd_sum + i
print(odd_sum)

In [ ]:
i, hap =0, 0
for i in range(500,1001,2):
  hap += i
print("500에서 1000까지의 짝수의 합 :", hap)

In [ ]:
for i in range(3):
  for k in range(2):
    print("난생처음은 쉽습니다. ^^(i값:", i," k값:",k,")")

In [ ]:
for i in range(1,10,1):
  for k in range(2,10,1):
    print(k, "X", i, "=", i*k, end = "   ")
  print("\n")

In [38]:
i=0
while(i<3):
  print("컴퓨터과 3학년 1반")
  i = i + 1

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [42]:
i=0
while True :
  print("ㅎ", end=" ")
  i = i + 1
  if i == 10:
    break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ

In [51]:
def menu():
  print("##############\n")
  print("# 1. 덧셈      #")
  print("# 2. 뺼셈      #")
  print("# 3. 나눗셈    #")
  print("# 4. 곱셈      #")
  print("# 5. 종료      #")

def add():
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 + num2
  return sum 

def sub():
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 - num2
  return sub

def dlv():
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 / num2
  return dlv

def mul():
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 * num2
  return mul

while True :
 menu()
 select = int(input("메뉴를 선택 : "))
 if select == 5:
   break
 elif select == 1:
   sum = add()
   print("두수의 덧셉 결과 : ",sum)
 elif select == 2:
   sub = sub()
   print("두수의 뺄셉 결과 : ",sub)

IndentationError: ignored