<a href="https://colab.research.google.com/github/gjwldnjs77/python/blob/main/%EC%84%B8%EA%B3%84%EB%82%98%EB%9D%BC(%EC%88%98%EB%8F%84%2C%EC%9D%B8%EA%B5%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import os

try:
  import pymysql
except ImportError:
  os.system('pip install pymysql')

In [39]:
try:
  conn = pymysql.connect(host='43.202.4.38',
                         port=58978,
                         user='wldnjswl7',
                         password='ansan',
                         db='com3126',
                         charset='utf8')
  db_into = conn.get_server_info()
  print('mysql version : ', db_into)
  cur = conn.cursor()
except Exception as e:
  print('mysql error : ', e)

mysql version :  5.7.42-0ubuntu0.18.04.1

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/kig2929kig/db/main/Population%20by%20country%20.csv')
df
#df.head()
#df.tail()
#df.head(7)
#df['Country']

In [ ]:
sql = "create table 세계인구(국가 varchar(50), 수도 varchar(50), 인구수 float)default charset=utf8"
cur.execute(sql)

In [ ]:
sql = "drop table 세계인구"
cur.execute(sql)

In [ ]:
for country, capital, population in zip(df['Country'], df['Capital City'], df['Population']):
  #print(country, capital, population)

  sql = f'insert into 세계인구 values ("{country}", "{capital}", "{population}")'
  print(sql)
  cur.execute(sql)

conn.commit()

In [33]:
while(True) :
  try :
    country = input("나라를 입력 : ")
    if country == "종료" :
      break;
    else :
      sql = f"select * from 세계인구 where 국가 = '{country}'"
      cur.execute(sql)
      result = cur.fetchone()

      print("국가 : " + result[0])
      print("수도 : " + result[1])
      print("수도의 인구 수 : ", + result[2], "명")
  except :
    print("국가명을 잘못 입력했거나 없는 국가입니다.")

나라를 입력 : Republic of Korea
국가 : Republic of Korea
수도 : Seoul
수도의 인구 수 :  9963500.0 명
나라를 입력 : asfdgafe
국가명을 잘못 입력했거나 없는 국가입니다.
나라를 입력 : 종료

In [38]:
import random

def info_country
sql = "select count(*) from 세계인구"
cur.execute(sql)

for r in cur.range(rand) :
  row_count = r[0]
rand = random.randrange(0, row_count)

sql = f"select * from 세계인구"
cur.execute(sql)

for r in cur.fetchall() :
  row_count = r[0]
rand = random.randrange(0, row_count)

score = 0
for i in range(10) :
  info = info_country()
  try :
    c = input("(info[0])의 수도를 입력 : ")
    if c == str(info[1]) :
      print("정답입니다.")
      score = score + 1
  except:
    print("오답입니다.")

print("당신의 점수는 : ", score, "점입니다.")

234